* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;    
  list-style: none;
  box-sizing: border-box;
}
button {
  padding: 1rem 5rem;
  border-radius: 5rem;
  background-color: #49f585;
  color: black;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}
button:hover{
  background-color: white;
  color:black;
}
.container{
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 100vh;
width: 100%;
gap: 3rem;
background-image: url("music1.jpg");
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.container h1{
  color: #49f585;
  text-align: center;
  font-size: 100px;
}
.container button{
  margin-bottom: 5rem;
}
header {
  background: rgb(73,245,133,0.75);
  box-shadow: 0 2rem 3rem rgb(73,245,133);
}
.nav{
  display:inline-flex;
  
}


/*--------------------------------------PAGE 2-----------------------------------------------*/
.page2{
  
  height:100vh;
  width:100%;
  padding-top: 10rem;
  padding-left: 7rem;
  padding-right: 7rem;
}
.page2 .steps .step1 .left{
  background-image: url("i4.png");
  height:25rem;
  width:40rem;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-position: center;
}
.page2 .steps .step1 .right{
  height:25rem;
  width:40rem;
  text-align: center;
  padding-top: 10rem;
}
.page2 .steps .step1{
  background-color: #49f585;
  display: flex;
  border-radius: 2rem;
}

/*--------------------------------------PAGE 3-----------------------------------------------*/
.page3{

  
  height:100vh;
  width:100%;
  padding-top: 10rem;
  padding-left: 7rem;
  padding-right: 7rem;
}
.page3 .steps .step1 .right{
  background-image: url("i3.png");
  height:25rem;
  width:43rem;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}
.page3 .steps .step1 .left{
  height:25rem;
  width:40rem;
  text-align: center;
  padding-top: 10rem;
}
.page3 .steps .step1{
  background-color: #49f585;
  display: flex;
  border-radius: 2rem;
}

/*--------------------------------------PAGE 4-----------------------------------------------*/
.page4{

  
  height:100vh;
  width:100%;
  padding-top: 10rem;
  padding-left: 7rem;
  padding-right: 7rem;
}
.page4 .steps .step1 .left{
  background-image: url("i2.png");
  height:25rem;
  width:43rem;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  background-position: right;
}
.page4 .steps .step1 .right{
  height:25rem;
  width:40rem;
  text-align: center;
  padding-top: 10rem;
}
.page4 .steps .step1{
  background-color: #49f585;
  display: flex;
  border-radius: 2rem;
}

.everything{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.963) 0%, rgb(73,245,133,0.75) 100%);
}